{% extends 'navbaradmin1.html' %}
{% block content %}
{% load static %}

<style>
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }

    .button-container {
      right: 0; /* Adjust as needed */
      margin-top: 10px; /* Adjust as needed */
    }

    .btn {
      margin-right: 10px; /* Adjust as needed */
    }
  }
</style>
</head>
<body>

<br><br><br><br>
<center>
  <h1>Add Service Category</h1>
<div class="column">
  <div class="container col-12">
    <div class="col-md-10">
      {% for message in messages %}
        <h5>
          <div class="alert" style="color: red; font-size: large;">
            {{ message }}
          </div>
        </h5>
      {% endfor %}
    </div>

    <div class="container">
      <form action="{% url 'addcat' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <br>
        <input type="text" name="category" placeholder="Add Category" style="height: 50px; width: 250px; background-color: peachpuff;">
        <br>
        <br>
      
        <button type="submit" class="btn" style="margin-right: 30px; background-color: grey;">SUBMIT</button>
      </form>
      <center>
        </center>
        <br>
        <br>
      <div class="button-container">
        <a href="{% url 'view_categories' %}" style="text-decoration: none;">
          <button style="background-color: peachpuff; color: black;padding: 3px; border: 1px black solid; font-size: larger; border-radius: 10px;">View Service Categories</button>
        </a>
      </div>
      </center>
    </div>
  </div>
  <br><br><br><br>
</div>

{% endblock %}