{% extends 'navbaradmin1.html' %}
{% block content %}
{% load static %}



<style>
    h1 {
        color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 50px;
        text-align: center;
        margin-top: 60px;
        margin-left: 100px;
     
            font-size: 2em; /* Adjust the font size as needed */
            text-align: center;
    }

    th {
        color: aliceblue;
    }

    td {
        color: aqua;
    }

    th,
    td {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    @media (max-width: 600px) {
        .x {
            overflow-x: scroll;
            /* Set to "scroll" for a visible scrollbar on mobile */
            white-space: nowrap;
            /* Prevent line breaks on smaller screens */
        }
    }
</style>

<body>
    <div class="container ">
        <div class="col">
            {% for message in messages %}
            <h5>
                <div class="alert " style="color: red;font-size: 15px;">
                    {{ message }}
                </div>
            </h5>
            {% endfor %}
        </div>
        
        <center>

            <h1>SERVICE MAN REGISTER APPROVALS</h1>


            <div class="x">
                {% if s %}
                <table border="4px" style="margin-top: 30px;margin-left:2px;background-color: black;padding: 5px;">

                    <tr>

                        <th>&nbsp;&nbsp;&nbsp;&nbsp;NAME &nbsp;&nbsp; &nbsp;&nbsp;</th>
                        <th>EMAIL</th>
                        <th>CONTACT NUMBER</th>
                        <th>ADDRESS</th>
                        <th>CATEGORY</th>
                        <th>EXPERIENCE</th>
                        <th>IDPROOF</th>
                        <th>SUPPORTING DOCUMENTS</th>

                        <th>ACTION</th>



                    </tr>

                    {% for i in s %}

                    <tr>

                        <td style="text-transform: uppercase;">{{i.first_name}} {{i.last_name}}</a></td>
                        <td>{{i.email}}</td>
                        <td>{{i.phone}}</td>
                        <td>{{i.address}}</td>
                        <td>
                          {% if i.newcategory %}
                              {{ i.newcategory }}
                          {% else %}
                              {{ i.category.name }}
                          {% endif %}
                      </td>
                        <td>{{i.workexp}}</td>

                        <td><a href="{{i.idproof.url}}" width="100" height="50" alt="Product 1">Show ID Proof</a></td>
                        <td><a href="{{i.documents.url}}" width="100" height="50" alt="Product 1">Show Certificate</a></td>
                        <td>
                            <a href="{% url 'approve' i.id %}" class="btn btn-primary" style="width: 120px;">Approve</a><br>
                            <a href="{% url 'disapproval' i.id %}" class="btn btn-secondary"
                                style="width: 120px;">Disapprove</a>
                        </td>

                    </tr>

                    {% endfor %}


</table>
{% else %}
                <p>No Registration Requests.</p>
            {% endif %}
            </div>
<script>
function showAlert() {
    // Check if there are new category requests
    if (newCategoryRequests === "true") {
        var confirmation = confirm("New Category Request: {{ new_category_requests }}. Do you want to add a new category?");
        if (confirmation) {
            // User clicked "OK" - Redirect to show_notification
            window.location.href = "{% url 'show_notification' %}";
        } else {
            // User clicked "Cancel" - You can perform additional actions here
            alert("You clicked Cancel. No action taken.");
        }
    } else {
        // No new category requests - You can perform additional actions here
        alert("No new category requests.");
    }
}
</script>
            </div>
        </center>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    {% if error == "no" %}
    <script>
        alert('Admin Approved');
        window.location = ("{% url 'dash' %}");
    </script>
    {% endif %}

    {% if error == "yes" %}
    <script>
        alert('Something went wrong, Try Again');
    </script>
    {% endif %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Add an event listener for form submission
            document.getElementById('categoryForm').addEventListener('submit', function (e) {
                e.preventDefault(); // Prevent the default form submission
    
                // Add your code here to handle category form submission
                // You may want to use AJAX to submit the form data without reloading the page
    
                // After handling the form submission, close the modal
                $('#categoryModal').modal('hide');
            });
        });
    </script>
   
</body>
{% endblock %}