<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approval Not Approved</title>
</head>
<body>
    <h1>Task Completion Not Allowed</h1>

    <p>
        Sorry, you cannot mark this task as completed because the approval status is not approved.
        Please contact the relevant authorities for further assistance.
    </p>

    <!-- You can include additional information or instructions here -->

    <a href="{% url 'viewservices'  %}">Back to History</a>
</body>
</html>