{% extends 'navbar4.html' %}
{% block content %}
{% load static %}
<br><br><br>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1><u>BOOKING FORM</u></h1>
      <br>
      <form action="{% url 'bookit1' q.id %}" method="post">
        {% csrf_token %}

        <div class="form-group">
          <label>Service name</label><br>
          <input type="text" value="{{q.title}}" class="form-control" readonly>
        </div>

        <div class="form-group">
          <label>When do you want the service?</label><br>
          <input type="date" name="day" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Where do you want the service?</label><br>
          <input type="text" name="address" placeholder="Address" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">BOOK</button>
      </form>

      {% if error == "no" %}
      <script>
        alert('Successfully booked. Please wait for approval');
        window.location = ("{% url 'myorderview' %}");
      </script>
      {% endif %}

      {% if error == "yes" %}
      <script>
        alert('Something went wrong, Try Again');
      </script>
      {% endif %}
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('[name="day"]').datepicker();
  });
</script>

{% endblock %}