{% extends 'navbar4.html' %}
{% load static %}
{% block content %}

<style>
  * {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
     
  .password-container{
      width: 180px;
      position: relative;
     
      display: flex;
      align-items: center;
  
  }
  .password-container img{
      width:15px;
      position: absolute;
      top:38%;
      right: 4%;
      color: grey;
  
  }
  </style>
  </head>
  <body>
  
  <br>
  <br>
  <br>
  <div class="container">
      <div class="col-md-4">
          {% for message in messages %}
          <h5>
              <div class="alert " style="color: red;font-size: 15px;">
                  {{ message }}
              </div>
          </h5>
              {% endfor %} 
      </div>
      <h1>Change Password</h1>
      <form method="post" action="{% url 'update_passworduser' %}" >
          {% csrf_token %}
    <div class="row">
      <div class="col-25">
        <label>Current Password</label>
      </div>
      <div class="password-container">
      <div class="col-100">
        <input type="password" name="current_password" id="cpassword" required placeholder="Current Password" style="background-color:peachpuff;">
        <img src="{% static 'images/eyeclose.png' %}" id="eyeiconC"> 
      </div>
      </div>
      <script>
          let eyeiconC = document.getElementById("eyeiconC");
         
          let cpassword=document.getElementById("cpassword")
         
          eyeiconC.onclick = function () {
          togglePasswordVisibility(cpassword,eyeiconC,"{% static 'images/eyeopen.png' %}");
          };
         
  
      function togglePasswordVisibility(cpassword,icon, openImage) {
          if (cpassword.type === "password") {
              cpassword.type = "text";
              icon.src = openImage;
          } else {
              cpassword.type = "password";
              icon.src = "{% static 'images/eyeclose.png' %}";
          }
      }
     
  </script>
      </div>
  
  
      <div class="row">
      <div class="col-25">
        <label>New Password</label>
      </div>
      <div class="password-container">
      <div class="col-100">
        
        <input type="password" placeholder="New Password" name="new_password" id="npassword" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$"  required title="Password must be at least 8 characters long and contain both letters,special characters and numbers" style="background-color:peachpuff;">
        <img src="{% static 'images/eyeclose1.png' %}" id="eyeiconN"> 
        <script>
           let eyeiconN = document.getElementById("eyeiconN");
        
          let npassword=document.getElementById("npassword")
         
          eyeiconN.onclick = function () {
          togglePasswordVisibility(npassword,eyeiconN,"{% static 'images/eyeopen1.png' %}");
          };
         
          function togglePasswordVisibility(npassword,icon, openImage) {
          if (npassword.type === "password") {
              npassword.type = "text";
              icon.src =openImage;
          } else {
              npassword.type = "password";
              icon.src = "{% static 'images/eyeclose1.png' %}";
          }
      }
  
        </script>
      </div>
  
      </div>
  
    </div>
  
  
    <div class="row">
      <div class="col-25">
        <label>Confirm Password</label>
      </div>
      <div class="password-container">
      <div class="col-100">
        <input type="password"  placeholder="Confirm Password" id="conpassword"  name="confirm_new_password"  pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{8,}$"  required title="Password must be at least 8 characters long and contain both letters,,special characters and numbers" style="background-color:peachpuff;">
        <img src="{% static 'images/eyeclose2.png' %}" id="eyeiconCON"> 
  
        <script>
            let eyeiconCON = document.getElementById("eyeiconCON");
  
            let conpassword=document.getElementById("conpassword")
            
            eyeiconCON.onclick = function () {
          togglePasswordVisibility(conpassword,eyeiconCON,"{% static 'images/eyeopen2.png' %}");
          };
          function togglePasswordVisibility(conpassword,icon, openImage) {
          if (conpassword.type === "password") {
              conpassword.type = "text";
              icon.src =openImage;
          } else {
              conpassword.type = "password";
              icon.src = "{% static 'images/eyeclose2.png' %}";
          }
      }
  
        </script>
      </div>
      </div>
    </div>
   <br>
    <div class="row">
  
  
      <center><button type="submit" style="background-color: grey;" class="btn">CHANGE</button>
      <a href="{% url 'useraction1' %}" style="background-color: grey;margin: auto;" class="btn" >BACK</a></center
    </div>
    </form>
  </div>
  
  
  {% endblock %}
  