{% extends 'navbar1.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br><br>
<br>
  <style>
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
      body {
          background-image: url('{% static "images/background.jpg" %}');
          background-repeat: no-repeat;
          background-size: cover;
          margin: 0;
          width: 100%;
          height: 100vh;
      }

     
      .carousel-inner {
          width: 100%;
          display: inline-block;
          position: relative;
          padding-top: 43.25%;
          height: 100%;
      }

      .carousel-item {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background: skyblue;
          background: no-repeat center center scroll;
          background-size: cover;
      }

      .caption {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 60%;
          z-index: 9;
          margin-top: 20px;
          text-align: center;
      }

      .caption h1 {
          color: #fff;
          font-size: 52px;
          font-weight: 700;
          margin-bottom: 23px;
      }

      .caption h2 {
          color: rgba(255, 255, 255, .75);
          font-size: 26px;
          font-weight: 300;
      }

      a.big-button {
          color: #fff;
          font-size: 19px;
          font-weight: 700;
          text-transform: uppercase;
          background: #eb7a00;
          padding: 28px 35px;
          border-radius: 3px;
          margin-top: 80px;
          margin-bottom: 0;
          display: inline-block;
      }

      a.big-button:hover {
          text-decoration: none;
          background: rgba(255, 0, 0, 0.9);
      }

      a.view-demo {
          color: #fff;
          font-size: 21px;
          font-weight: 700;
          display: inline-block;
          margin-top: 35px;
      }

      a.view-demo:hover {
          text-decoration: none;
          color: #333;
      }

      .carousel-indicators .active {
          background: #fff;
      }

      .carousel-indicators li {
          background: rgba(255, 255, 255, 0.4);
          border-top: 20px solid;
          z-index: 15;
      }
      .card img {
            max-width: 100%;
            max-height: 100%; /* Maintain aspect ratio */
        }

      .card-columns {
          column-count: 1;
          column-gap: 1em;
      }

      .card {
          margin-bottom: 1em;
          display: flex;
          flex-direction: column;
      }

      .card img {
          max-width: 100%;
          height: 70px;
      }
    
      @media (min-width: 576px) {
          .card-columns {
              column-count: 2;
          }
      }

      @media (min-width: 768px) {
          .card-columns {
              column-count: 3;
          }
      }

      @media (min-width: 992px) {
          .card-columns {
              column-count: 4;
          }
      }
      @media (min-width: 1300px) {
          .card-columns {
              column-count: 5;
          }
      }
     
  </style>
</head>


<body>

    <br><br>
    <br>

    <br>
    <br><br>
    <br>

    <br>
    <section>

    <div class="card-columns">
        <div class="card">
            <img class="card-img-top img-fluid" src="{% static 'images/1.jpg' %}" alt="Card image cap" style="height: 170px;">
            <div class="card-body">
                <h5 class="card-title">ELECTRICAL WORKS</h5>
            </div>
        </div>
       
            <div class="card">
                <img class="card-img-top img-fluid" src="{% static 'images/washing.jpg' %}" alt="Card image cap" style="height: 170px;">
                <div class="card-body">
                    <h5 class="card-title">WASHING MACHINE</h5>
                </div>
            </div>
      
        <div class="card">
            <img class="card-img-top img-fluid" src="{% static 'images/3.jpg' %}" alt="Card image cap" style="height: 170px;">
            <div class="card-body">
                <h5 class="card-title">BEAUTY AND SALON</h5>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top img-fluid" src="{% static 'images/4.jpg' %}" alt="Card image cap" style="height: 170px;">
            <div class="card-body">
                <h5 class="card-title">CLEANING</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="{% static 'images/5.jpg' %}" alt="Card image cap" style="height: 170px;">
            <div class="card-body">
                <h5 class="card-title">AC SERVICING</h5>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="{% static 'images/6.jpg' %}" alt="Card image cap" style="height: 170px;">
            <div class="card-body">
                <h5 class="card-title">CARPENTER</h5>
            </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="{% static 'images/computer1.jpg' %}" alt="Card image cap" style="height: 170px;">
          <div class="card-body">
            <h5 class="card-title">COMPUTER SERVICE</h5>
          </div>
      </div>
      <div class="card">
        <img class="card-img-top img-fluid" src="{% static 'images/download.jpg' %}" alt="Card image cap" style="height: 170px;">
        <div class="card-body">
            <h5 class="card-title">PEST CONTROL</h5>
        </div>
    </div>
    <div class="card">
      <img class="card-img-top img-fluid" src="{% static 'images/plu.jpg' %}" alt="Card image cap" style="height: 170px;">
      <div class="card-body">
          <h5 class="card-title">PLUMBING</h5>
      </div>
  </div>   <div class="card">
    <img class="card-img-top img-fluid" src="{% static 'images/laun.jpg' %}" alt="Card image cap" style="height: 170px;">
    <div class="card-body">
        <h5 class="card-title">LAUNDRY</h5>
    </div>
</div>

    </div>
</section>
   <section>

        <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active" style="background: palevioletred;">
                    <img src="{% static 'images/pic1.avif' %}" style="width: 100%; height: 100%">
                </div>

                <div class="carousel-item" style="background: rgb(147, 189, 206);">
                    <img src="{% static 'images/pic2.jpeg' %}" style="width: 100%; height: 100%;">
                </div>

                <div class="carousel-item" style="background-color: rgb(147, 189, 206);">
                    <img src="{% static 'images/picac.jpg' %}" style="width: 100%; height: 100%;">
                </div>
                

            </div>

            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
   </section>
</body>

{% endblock %}