{% extends 'navbar1.html' %}
{% load static %}
{% block content %}

<br>
<br>
<br>
<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  .page-container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .login-container {
    width: 80%;
    max-width: 400px;
    margin: 4px auto;
    padding:  10px 20px 20px 30px;
    border-radius: 10px;
    background-color: rgb(202, 213, 231);
  }

  label,
  input,
  button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
  }

  .button:hover {
    color: darkblue;
  }

  .password-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .password-container img {
    width: 15px;
    position: absolute;
    top: 38%;
    right: 4%;
    color: grey;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .login-container {
      padding: 30px;
      
    }
  }
</style>
      </head>

      <br><br><br>
      <br>
  <body>
    <div class="page-container">

    <center>   <img src="{% static 'images/login.jpg' %}" style="height: 100px;"></center>

        
    <div class="login-container">
      <div class="form">
          <div class="row">
          <div class="col-md-15">
            {% for message in messages %}
            <h5>
                <div class="alert" style="color: red;font-size: large;">
                    {{ message }}
                </div>
            </h5>
                {% endfor %} 
        </div>
        <div>
    <form  action="{% url 'loginact' %}" method="post">
      {% csrf_token %}

    <label for="username">Username</label>
    <input type="text" id="username" name="uname" required>
    
    <label for="password">Password</label>
    <div class="password-container">
    <input type="password" id="password" name="password" required>
    
    <img src="{% static 'images/eyeclose.png' %}" id="eyeicon"> 
  </div>
  <br>
  <button type="submit" class=" btn btn-primary">Login</button>
</div>
</div>
</div>
</div>

</div>

  <script>
      let eyeicon=document.getElementById("eyeicon")
      let password=document.getElementById("password")
      eyeicon.onclick=function(){
          if(password.type == "password"){
              password.type = "text";
              eyeicon.src="{% static 'images/eyeopen.png' %}"
          }else{
              password.type = "password";
              eyeicon.src="{% static 'images/eyeclose.png' %}" 
          }
      }
  </script>
  

    </form>
 
   

</body>
</html>
{% endblock %}









