{% extends 'navbar4.html' %}
{% block content %}
{% load static %}

    <style>
        h1{
        color: black;
        
     
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size:50px;
        text-align: center;
        margin-top: 60px;
        margin-left: 10px;
    }
    
    

th{
color: aliceblue;
}
td{
    color: aqua;
}
th,td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.btn-approved {
        background-color: green;
        color: white;
    }

    .btn-disapproved {
        background-color: red;
        color: white;
    }
</style>
       
        
           
                
            
            
<h1>MY ORDERS</h1>

<div style="overflow-x: auto;">
    {% if bookings %}
        <table border="4px" style="margin-top: 40px; margin-left: 50px; background-color: black; padding: 5px;">
            <tr>
                <th>SERVICE NAME</th>
                <th>DESCRIPTION</th>
                <th>CATEGORY</th>
                <th>DURATION</th>
                <th>PRICE</th>
                <th>DATE FOR SERVICE</th>
                <th>ADDRESS</th>
                <th>STATUS</th>
            </tr>

            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.service.title }}</td>
                    <td>{{ booking.service.description }}</td>
                    <td>{{ booking.category.name }}</td>
                    <td>{{ booking.service.duration }}</td>
                    <td>{{ booking.service.price }}</td>
                    <td>{{ booking.date_booked|date:"d-m-Y" }}</td>
                    <td>{{ booking.address }}</td>
                    <td>
                        {% if booking.approval_status == 'approved' %}
                            <button class="btn-approved" disabled>Approved</button>
                        {% elif booking.approval_status == 'disapproved' %}
                            <button class="btn-disapproved" disabled>Denied</button>
                        {% else %}
                            <button class="btn-warning" disabled>Pending</button>
                        {% endif %}
                    </td>
                    <td><a href="{% url 'feedback' booking.id %}" style="text-decoration: none;">WRITE REVIEW</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p style="text-align: center; color: red; font-size: 20px; margin-top: 20px;">No orders available.</p>
    {% endif %}
</div>

{% endblock %}