{% extends 'navbaradmin1.html' %}
{% block content %}
{% load static %}



   <style>
th{
color: aliceblue;
}
td{
    color: aqua;
}
th,td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
</style>
       
        
           

            
<h1>USER DETAILS</h1>                
<div style="overflow-x: auto;">
        <table border="4px" style="margin-top: 40px;background-color: black;padding: 5px;">
            
            <tr>
                <th>PROFILE PICTURE</th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>CONTACT NUMBER</th>
                <th>ADDRESS</th>
                
               
                <th>ACTIONS</th>
                
    
                
            </tr>
       
            {% for e in u %}
            {% if e.is_superuser %}
            {% else %}
            
            <tr>
                <td><img src="{{e.profile_picture.url}}" width="100" height="50"></td>
                <td><a href="{% url 'usercard' e.id %}">{{e.user.first_name}} {{e.user.last_name}}</td>
                <td>{{e.user.email}}</td>
                <td>{{e.ph}}</td>
                <td>{{e.address}}</td>

                
                <td><a href="{% url 'deleteuser' e.id %}" class="btn-danger">DELETE</a></td>

                
                

                
           
            </tr>
            {% endif %}
            {% endfor %}
            
      
        
    </center>
    </table>
    <br>
    <br>
</div>
   <center> <a href="{% url 'dash' %}" style="background-color: grey;margin: auto;" class="btn" >BACK</a></center>

 <br>
 <br>
 <br>
 
    {% endblock %}
    

           
    


  
