{% extends 'navbaradmin1.html' %}
{% block content %}
{% load static %}
    
<style>
    th {
        color: aliceblue;
    }

    td {
        color: aqua;
    }

    th,
    td {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .btn-approved {
        background-color: green;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .btn-disapproved {
        background-color: red;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .btn-warning {
        background-color: orange;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    .btn-primary {
        background-color: blue;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
       
        </style>
<body>
    <h1>ALL BOOKINGS</h1>
    <div style="overflow-x: auto;">
        <table border="4px" style="margin-top: 40px;background-color: black;padding: 5px;">
            <tr>
                <th>SERVICE NAME</th>
                <th>CUSTOMER</th>
                <th>ADDRESS</th>
                <th>SERVICE CATEGORY</th>
                <th>DATE</th>
                <th>PRICE(starts from)</th>
                <th>DURATION</th>
                <th>ACTION</th>
                <th>STATUS</th>
              
            </tr>
            {% for booking in bo %}
                <tr>
                    <td>{{ booking.service.title }}</td>
                    <td>{{ booking.customer.first_name }}</td>
                    <td>{{ booking.address }}</td>
                    <td>{{ booking.category.name }}</td>
                    <td>{{ booking.date_booked|date:"d-m-Y" }}</td>
                    <td>{{ booking.service.price }}</td>
                    <td>{{ booking.service.duration }}</td>
                                        
                    <td>
                        {% if booking.approval_status == 'approved' %}
                            <button class="btn-approved" disabled>Approved</button>
                        {% elif booking.approval_status == 'disapproved' %}
                            <button class="btn-disapproved" disabled>Disapproved</button>
                        {% else %}
                            <button class="btn-warning" disabled>Pending</button>
                        {% endif %}
                    </td>
                 
                        <td>
                            {% if  booking.is_completed %}
                             
                            <button class="btn-primary" disabled>Completed</button>
                            {% endif %}
                        </td>
                </tr>
            {% endfor %}
        </table>
        {% if not bo %}
            <p style="text-align: center; color: red; font-size: 20px; margin-top: 20px;">No bookings available.</p>
        {% endif %}
    </div>
    <br>
    <br>
</body>

{% endblock %}
